---
# set fact for ansible_hostname
- name: Set FQDN Custom Facts
  set_fact:
    www_hostname: "{{ ansible_nodename }}"

# Apache Webserver
- name: Replacing Apache Certificates
  ansible.builtin.copy:
    src: "{{ www_hostname }}.pem"
    dest: "{{ apache_cert_path }}"
    owner: root
    group: root
    backup: true
    mode: '0600'
  when: "'apache' in group_names"

- name: Replacing Apache Keys
  ansible.builtin.copy:
    src: "{{ www_hostname }}.key"
    dest: "{{ apache_key_path }}"
    owner: root
    group: root
    backup: true
    mode: '0600'
  notify:
    - Reload Apache
    - Reload ApacheSysV
  when: "'apache' in group_names"

# Nginx Webserver
- name: Replacing Nginx Certificates
  ansible.builtin.copy:
    src: "{{ www_hostname }}.pem"
    dest: "{{ nginx_cert_path }}"
    owner: root
    group: root
    backup: true
    mode: '0600'
  when: "'nginx' in group_names"

- name: Replacing Nginx Keys
  ansible.builtin.copy:
    src: "{{ www_hostname }}.key"
    dest: "{{ nginx_key_path }}"
    owner: root
    group: root
    backup: true
    mode: '0600'
  notify:
    - Reload Nginx
    - Reload NginxSysV
  when: "'nginx' in group_names"
